@font-face {
  font-family: 'DungGeunMo';
  src: url('./font/DungGeunMo.ttf');
}
button {
  font-family: 'DungGeunMo';
}

.wrapping {
  text-align: center;
  width: 880px;
  height: 660px;
  background-color: pink;
  font-family: 'DungGeunMo';
}
.cover {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 85%;
  height: 90%;
  background-color: rgb(243, 211, 211, 0.5);
  border-radius: 5px;
}
.content {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  width: 95%;
  height: 95%;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
.sideContent {
  float: left;
  margin: 10px;
  margin-top: 45px;
  left: 0%;
  bottom: 0%;
  background-color: white;
  width: 25%;
  height: 90%;
  border: 1px solid gray;
  border-radius: 10px;
}
.mainContent {
  float: left;
  margin-top: 45px;
  left: 0%;
  bottom: 0%;
  background-color: white;
  width: 70%;
  height: 90%;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

.profileInput {
  bottom: 0%;
  width: 50px;
  height: 30px;
  border: 0px;
  border-radius: 3px;
}

.currentMenu {
  display: block;
  border: 1px solid gray;
  background-color: white;
  width: 60px;
  height: 35px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  border-left: none;
}
.uncurrentMenu {
  display: block;
  border: 1px solid gray;
  background-color: rgb(240, 240, 240);
  width: 60px;
  height: 35px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
}
