.wrapping {
  width: 880px;
  height: 660px;
  background-color: pink;
  text-align: center;
}
.cover {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 85%;
  height: 90%;
  background-color: rgb(243, 211, 211);
  border-radius: 5px;
}
.content {
  display: inline-block;
  margin-top: 15px;
  width: 95%;
  height: 95%;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.profileBox {
  position: relative;
  float: left;
  margin: 30px;
  background-color: white;
  width: 25%;
  height: 90%;
  border-radius: 20px;
}
.profileImage {
  margin: 0 auto;
  margin-top: 15px;
  width: 140px;
  height: 140px;
  border-radius: 100px;
  background-color: rgb(240, 240, 240);
}
.profileInput {
  bottom: 0%;
  width: 50px;
  height: 30px;
  border: 0px;
  border-radius: 3px;
}
